/*@import url(https://fonts.googleapis.com/css?family=Raleway);
*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Raleway/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*global setting*/
#Body,
html,
body,
.Head,
.SubTitle,
.SubSubTitle,
.Normal {
    color: #333333;
	font-size:13px;
	font-family:'Raleway';
	line-height:1.8;
	letter-spacing:0.5px;
}
html, 
button, 
input, 
select, 
textarea,
.ls-layer, 
.ls-layer *,
.uneditable-input,
.btn{
	font-family:'Raleway';
}
div[class^="Theme_Responsive"] select,
div[class^="Theme_Responsive"] textarea,
div[class^="Theme_Responsive"] input[type="text"],
div[class^="Theme_Responsive"] input[type="password"],
div[class^="Theme_Responsive"] input[type="datetime"],
div[class^="Theme_Responsive"] input[type="datetime-local"],
div[class^="Theme_Responsive"] input[type="date"],
div[class^="Theme_Responsive"] input[type="month"],
div[class^="Theme_Responsive"] input[type="time"],
div[class^="Theme_Responsive"] input[type="week"],
div[class^="Theme_Responsive"] input[type="number"],
div[class^="Theme_Responsive"] input[type="email"],
div[class^="Theme_Responsive"] input[type="url"],
div[class^="Theme_Responsive"] input[type="search"],
div[class^="Theme_Responsive"] input[type="tel"],
div[class^="Theme_Responsive"] input[type="color"]{
	font-family:'Raleway'!important;
}

/*squares home*/
/*.glowHoverEffect {
    transition: all 0.3s ease-in;
}

.glowHoverEffect:hover {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    box-shadow: 1px 0px 20px grey;
}*/

/*color*/
.color_bg_1 {
	background-color:#20a3f0;
}
.color_bg_2 {
	background-color:#7770cc;
}
.color_bg_3 {
	background-color:#b75ccd;
}
.color_bg_4 {
	background-color:#4680dd;
}
.color_border_1{
	border-color:#20a3f0;
}
.color_border_2{
	border-color:#7770cc;
}
.color_border_3{
	border-color:#b75ccd;
}
.color_border_4{
	border-color:#4680dd;
}
.color_1 {
	color:#20a3f0;
}
.color_2 {
	color:#7770cc;
}
.color_3 {
	color:#b75ccd;
}
.color_4 {
	color:#4680dd;
}



/* body style*/
.body_bg {
								background-image:url(images/body_bg_2.png);
											background-position:left top;
	background-attachment:scroll;
					background-repeat:repeat;
		background-size:auto ;
}


/*content style*/
	#dnn_content:before,.BannerPane:before{
		background-color:#ffffff;
		filter:alpha(opacity= 100 );
		opacity: 1;
	}

/*Mode style*/
	#dnn_wrapper{width:auto;}

/*Fixed Top Content*/
#fixedBox{
	display:none;
}
	#fixedBox{
		display:block;
	}
	#fixedContent:before{
		background-color:#0d0d0d;
		filter:alpha(opacity= 60 );
		opacity: 0.6;
	}
	#fixedBox,
	#fixedBox .Normal,
	#fixedToggle .fa{
		font-size:#0d0d0dpx;
		color:#0d0d0d;
	}
	#fixedBox a,
	#fixedBox a:link,
	#fixedBox a:active,
	#fixedBox a:visited,
	#fixedBox a:hover{
		color:#20a3f0;
	}
	#fixedToggle:before{
		border-top-color:#0d0d0d;
		border-right-color:#0d0d0d;
	}
/*h1~h6 style*/
h1 {
	color:#20a3f0;
	font-family:'Raleway';
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	letter-spacing:0px;
}
 
h2 {
	color:#20a3f0;
	font-family:'Raleway';
	font-size:20px;
	line-height:24px;
	font-weight:bold;
	letter-spacing:0px;
}

h3 {
	color:#000000;
	font-family:'Raleway';
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	letter-spacing:0px;
}

h4 {
	color:#000000;
	font-family:'Raleway';
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	letter-spacing:0px;
}

h5 {
	color:#000000;
	font-family:'Raleway';
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	letter-spacing:0px;
}
h6 {
	color:#000000;
	font-family:'Raleway';
	font-size:12px;
	line-height:16px;
	font-weight:bold;
	letter-spacing:0px;
}

/*Content Style*/
a, 
a:link,
a:active,
a:visited{
	color:#ffffff;
}
a:hover{
	color:#ffffff;
}
.default_color{
	color:#333333!important;
}
.accent_color{
	color:#ffffff!important;
} 


.default_size{
	font-size:13px!important;
}
.big_size{
	font-size:16px!important;
}
.small_size{
	font-size:12px!important;
}
.default_family{
	font-family:'Raleway'!important;
}
.special_family_1{
	font-family:'Raleway'!important;
}
.special_family_2{
	font-family:'Raleway'!important;
}
.default_line_height{
	line-height:1.8!important;
} 
.big_line_height{
	line-height:2!important;
} 
.small_line_height{
	line-height:1.5!important;;
} 

/*module style*/
.Skin_05_timeline.news_list .news_date_box span i,
.Skin_05_timeline.news_list .news_post_box .news_post .dot{
	border-color:#ffffff;
}
.Skin_03_Simple.simple_list h2.news_title a:hover{
	color:#ffffff;
} 
.galler_datail h4{
	color:#000000!important;
}
.Skin_02_Default.filter_Box .portfolio_categories a:hover,  
.Skin_02_Default.filter_Box .portfolio_descr .name a:hover,
.Skin_04_Box.news_detail .post_date a:hover,
.Skin_04_Box.news_list .post_date a:hover,
.Skin_03_Default.filter_Box .portfolio_categories a:hover,
.Skin_02_Default.filter_Box .portfolio_descr .name a:hover,
.Skin_02_Default.filter_Box .portfolio_categories a:hover{
	color:#ffffff;
}
.Skin_02_Default.galler_datail .comment_form .submit_button .CommandButton,
.Skin_03_Default.galler_datail .comment_form .submit_button .CommandButton{
	text-shadow:none;
	border-color:#ffffff;
	color:#ffffff;
	transition:background-color ease-in 200ms;
}
.Skin_02_Default.galler_datail .comment_form .submit_button .CommandButton:hover,
.Skin_03_Default.galler_datail .comment_form .submit_button .CommandButton:hover{
	background-color:#ffffff;
	color:#FFF;
}
.Skin_03_Simple.news_detail .heading span{
	background-color:#ffffff;
}
.wrapper .Theme_Responsive_Default .form_submit .btn,
.Skin_05_timeline .news_date_box span, 
.Skin_05_timeline .news_date_box span i, 
.Skin_05_timeline .news_more_box span, 
.Skin_05_timeline .news_more_box .line span, 
.Skin_05_timeline .news_post_box .news_post .dot, 
.Skin_05_timeline .news_date_box span, 
.Skin_05_timeline .news_date_box span i, 
.Skin_05_timeline .news_more_box span, 
.Skin_05_timeline .xblog_page .pager,
.Skin_05_timeline .news_post_box .post_box .post_more a:hover,
.banner_btn.btn_white:hover:after{
	background-color:#ffffff;
}
.filter_Box.Skin_03_Default #filters li.selected a, 
.filter_Box.Skin_03_Default #filters li.selected a:hover,
.filter_Box.Skin_02_Default #filters li.selected a, 
.filter_Box.Skin_03_Default #filters li.selected a:hover,
.news_detail .post_content .post_categories a:hover{
	background-color:#ffffff;
	color: #fff;
}
.filter_Box.Skin_03_Default .filter-switch,
.filter_Box.Skin_03_Default .view-tenth:hover .portfolio_descr,
.galler_datail.Skin_03_Default .gallery_tags a:hover,
.galler_datail.Skin_02_Default .gallery_tags a:hover,
.filter_Box.Skin_02_Default .filter-switch,
.Theme_21_LinkAndZoom_Default .pager a.selected{
	background-color:#ffffff;
}
.Skin_03_Default #filters li a:hover,
.Skin_03_Default .sort_box li a:hover,
.validationEngineContainer .galler_datail .single_meta a:hover,
.Skin_02_Default #filters li a:hover,
.Skin_02_Default .sort_box li a:hover,
.news_list .post_categories a:hover, 
.news_list .post_more a:hover,
.news_detail .post_categories a:hover, 
.news_detail .post_more a:hover,
.news_list.Skin_04_Box  h2.news_title a:hover,
.Skin_04_Box .post_date a:hover,
.Skin_05_timeline .news_post_box .post_box h2.news_title a:hover, 
.Skin_05_timeline .news_post_box .post_box .post_date a:hover, 
.Skin_05_timeline .news_detail_top h2.news_title,
.news_detail .post_date a:hover{
	color:#ffffff;
}
.news_detail_top .tab_right .news_detail_username a:hover,
.Theme_19_Normal .filter_navigation ul li.selected a{
	color:#ffffff!important;
	}
a.abtn.btn_white:hover, 
.banner_btn, 
.banner_btn.btn_white:hover, 
.comment_form .submit_button .CommandButton {
	border-color:#ffffff;
}
.Skin_05_timeline.news_detail .post_date a:hover,
.Skin_05_timeline.news_detail .post_author_info .author_desc{
	color:#ffffff;
}
.Skin_05_timeline.news_detail{
	background:none;
}


/*Images*/
.photo_box .ico span,
.photo_box.ico_push_in .ico,
.photo_box.content_top_increment .content h3,
.content_sytle_2 .shade,
.photo_box.content_push_in .content,
.photo_box:hover.entirety_bevel .shade,
.photo_box.content_bottom_push_in .content:after{
	background-color:#ffffff;
}
.photo_box.icon_tag_push .ico:before{
	border-right-color:#ffffff;
	border-top-color:#ffffff;
}
.text_sytle_4 h3 span,
.photo_box.content_bottom_push_in .content:before{
	border-bottom-color:#ffffff;
}
.photo_box.entirety_bevel .pic_box:before {
	border-right-color:#ffffff;
	border-bottom-color:#ffffff;
}

/*html style*/  

/*Accent Background Color */
.a_bg_c,
.btn.a_bg_c{
	background-color:#ffffff;
}
.a_bg_c_h:hover,
.btn.a_bg_c_h:hover{
	background-color:#ffffff;
}
/*Accent Color */
.a_t_c,
.btn.a_t_c{
	color:#ffffff;
}
.a_t_c_h:hover,
.btn.a_t_c_h:hover{
	color:#ffffff;
}
/*Accent Border Color */
.a_b_c,
.btn.a_b_c{
	border-color:#ffffff;
}
.a_b_c_h:hover,
.btn.a_b_c_h:hover{
	border-color:#ffffff;
}

/*btn color*/
.btn_1, 
a.btn_1, 
a:link.btn_1, 
a:active.btn_1, 
a:visited.btn_1,
.btn_6, 
a.btn_6, 
a:link.btn_6, 
a:active.btn_6, 
a:visited.btn_6{
	border-color:#ffffff;
	color:#ffffff;
}
a.btn_1:hover,
a.btn_3:hover,
a.btn_6:hover,
a.btn_9:hover{
	border-color:#ffffff;
	background-color:#ffffff;
}
.btn_4, 
a.btn_4, 
a:link.btn_4, 
a:active.btn_4, 
a:visited.btn_4,
.btn_7, 
a.btn_7, 
a:link.btn_7, 
a:active.btn_7, 
a:visited.btn_7,
a.btn_8:hover,
.btn_10, 
a.btn_10, 
a:link.btn_10, 
a:active.btn_10, 
a:visited.btn_10,
.btn_11, 
a.btn_11, 
a:link.btn_11, 
a:active.btn_11, 
a:visited.btn_11,
.btn_12, 
a.btn_12, 
a:link.btn_12, 
a:active.btn_12, 
a:visited.btn_12{
	background-color:#ffffff;
}
.btn_13,
a.btn_13,
a:link.btn_13,
a:active.btn_13,
a:visited.btn_13,
a.btn_14:hover{
	color:#ffffff;
}
/*Container title*/
.Container-1 .dnntitle:after,
.title-2:before,
.title-5:before,
.title-6:before,
.title-7:before,
.title-8:before,
.title-8:after,
.title-9:before,
.title-9:after,
.Container-9 .dnntitle h4:before,
.Container-9 .dnntitle h4:after,
.title-10:after,
.Container-10 .dnntitle h4:after,
.title-11:after,
.Container-11 .dnntitle h4:after,
.title-14:after,
.title-18:before,
.title-18:after{
	border-color:#ffffff!important;
}
.Container-15 .dnntitle,
.Container-16{
	background-color:#ffffff!important;
}

/*title style */
.title_style_1:after,
.title_style_6:after,
.title_style_8:before,
.title_style_10:before,
.title_style_12:before,
.title_style_12:after,
.title_style_14:before,
.title_style_14:after,
.title_style_15 .number:before, 
.title_style_15 .number:after,
.title_style_22:after,
.title_style_26 span:before,
.title_style_26 span:after{
	border-color:#ffffff;
}
.title_style_3 .icon,
.title_style_15 .number{
	color:#ffffff;
}


/*banner color*/
.Banner1 .Banner1_bg{
	background-image:linear-gradient(to right top, #b75ccd 0% , #4680dd 100%); 
	background-image:-webkit-linear-gradient(right top, #b75ccd 0% , #4680dd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b75ccd', endColorstr='#4680dd',GradientType=1 ); 
}
.Banner1 .Banner1_link a:hover{
	color:#ffffff;
}
.Banner2 .Banner2_link:before,
.banner3_bg .bg,
.banner4_more,
.banner5_more,
.tp-banner .banner6_more:hover,
.banner6_more2{
	background-color:#ffffff;
}

/*background Image*/
.backgroundImage2:before{
	background-color:#20a3f0;
}
.backgroundImage3:before{
	background:#7770cc;
}
.backgroundImage4:before{
	background:#b75ccd;
}
.backgroundImage22:before{
	background:#4680dd;
}

.backgroundImage11,
.backgroundImage8,
.backgroundImage21:before{
	background-color:#ffffff;
}

/*ServeList*/
.ServeList_1 > .fa, 
.ServeList_1 > .ico,
.ServeList_13 .fa,
.ServeList_35 li span,
.ServeList_38 li .fa{
	border-color:#ffffff;
	color:#ffffff;
}
.ServeList_2 > .fa, 
.ServeList_2 > .ico,
.ServeList_5 .ico,
.ServeList_9 span.number,
.ServeList_12 .fa,
.ServeList_15 li .ico,
.ServeList_18 .ico,
.ServeList_20 .number,
.ServeList_26 .number{
	color:#ffffff;
}
.ServeList_3 .img .fa, 
.ServeList_6 > .fa, 
.ServeList_6 > .ico,
.ServeList_11 .fa,
.ServeList_7,
.ServeList_21 .number,
.ServeList_28 .ico,
.social_list_9 a:hover span,
.ServeList_30 li:hover span,
.ServeList_33 .fa,
.ServeList_36 .ico,
.ServeList_37 .fa{
	background-color:#ffffff;
}
.ServeList_36 .ico:before{
	border-top-color:#ffffff;
	border-left-color:#ffffff;
}
.ServeList_2:hover,
.ServeList_10 h3:after,
.ServeList_21,
.ServeList_35 li h3:after,
.ServeList_36{
	border-color:#ffffff;
}
.ServeList_33{
	border-bottom-color:#ffffff;
}
.ServeList_31 .ico.color_1{
border-color:#20a3f0;
}
.ServeList_31 .ico.color_1 span,
.ServeList_31 .ico.color_1 span:after{
	background-color:#20a3f0;
}
.ServeList_31 .ico.color_2{
	border-color:#7770cc;
}
.ServeList_31 .ico.color_2 span,
.ServeList_31 .ico.color_2 span:after{
	background-color:#7770cc;
}
.ServeList_31 .ico.color_3{
	border-color:#b75ccd;
}
.ServeList_31 .ico.color_3 span,
.ServeList_31 .ico.color_3 span:after{
	background-color:#b75ccd;
}
.ServeList_31 .ico.color_4{
	border-color:#4680dd;
}
.ServeList_31 .ico.color_4 span,
.ServeList_31 .ico.color_4 span:after{
	background-color:#4680dd;
}
/*accordion*/
.accordion_1 .panel-default > .panel-heading a,
.accordion_2 .panel-title .fa,
.accordion_3 .panel-default .collapsed .accordion_icon:before{
	color:#ffffff;
}
.accordion_1 .panel-default .accordion_icon,
.accordion_2 .panel-default .accordion_icon,
.accordion_3 .panel-default > .panel-heading a{
	background-color:#ffffff;
}

/*list style*/
.list_style_1 li:before,
.list_style_5 .ico,
.list_style_9 li:before {
	color:#ffffff;
	border-color:#ffffff;
}
.list_style_7 li .fa,
.list_style_11 li a:hover,
.list_style_13 li .fa,
.list_style_15 li .fa,
.list_style_16 li .fa{
	color:#ffffff;
}
.list_style_10 li .fa{
	background-color:#ffffff;
}
.list_style_10 li a:hover{
	color:#ffffff;
}
/*tag list*/
.tag_list_1 a:hover{
	border-color:#ffffff;
	background-color:#ffffff;
}
.tag_list_2 a:hover{
	background-color:#ffffff;
}
/*content text*/
.content_text_2 dl.text_box_1,
.content_text_2 dl.text_box_2,
.content_text_2 dl.text_box_3,
.content_text_2 dl.text_box_4{
	border-color:#ffffff;
}
.content_text_5 .ico,
.content_text_6 dl .line span{
	color:#ffffff;
}
.content_text_9 .icon{
	background-color:#ffffff;
}
/*social list*/
.social_list_1 a:hover span{
	color:#ffffff;
}
.social_list_3 a:hover,
.social_list_7 a:hover span,
.social_list_10 span{
	background-color:#ffffff;
}
.social_list_5 a:hover span{
	background-color:#ffffff;
	border-color:#ffffff;
}
/*Testimonials*/
.Testimonials_1 .mark,
.Testimonials_3 blockquote small span,
.Testimonials_4 .mark{
	color:#ffffff;
}
.Testimonials_4 .dot a.actived{
	border-color:#ffffff;
}
.Testimonials_5 .dot a:hover, 
.Testimonials_5 .dot a.actived{
	background-color:#ffffff;
}
/*price*/
.price-table1 .price_title{
	border-color:#ffffff;
}
.price-table1 a.btn{
	background-color:#ffffff;
}

.price-table6 .color_1 .price_title,
.price-table6 .color_1 .price_holder .price_box,
.price-table6 .color_1 .price_holder .btn{
	background-color:#20a3f0;
}
.price-table6 .color_2 .price_title,
.price-table6 .color_2 .price_holder .price_box,
.price-table6 .color_2 .price_holder .btn{
	background-color:#7770cc;
}
.price-table6 .color_3 .price_title,
.price-table6 .color_3 .price_holder .price_box,
.price-table6 .color_3 .price_holder .btn{
	background-color:#b75ccd;
}
.price-table6 .color_4 .price_title,
.price-table6 .color_4 .price_holder .price_box,
.price-table6 .color_4 .price_holder .btn{
	background-color:#4680dd;
}
/*Theme Responsive*/
.Theme_Responsive_20072_home1 .form_submit .btn:hover,
.Theme_Responsive_20072_home2 .form_submit .btn:hover,
.Theme_Responsive_20072_home5-Email .form_submit:before{
	color:#ffffff!important;
}
.Theme_Responsive_20072_home2 .form_submit .btn,
.Theme_Responsive_20072_home3 .form_submit .btn:hover,
.Theme_Responsive_20072_home5 .form_submit .btn,
.Theme_Responsive_20072_home7 .form_submit .btn,
.Theme_Responsive_20072_home7-Email .form_submit .btn,
.Theme_Responsive_20072_Contact .form_submit .btn,
.Theme_Responsive_20072_page2-Contact .form_submit .btn{
	background-color:#ffffff!important;
}
.Theme_Responsive_20072_home3 .form_submit .btn,
.Theme_Responsive_20072_home7 .form_submit .btn:hover,
.Theme_Responsive_20072_Contact .form_submit .btn:hover{
	color:#ffffff!important;
	border-color:#ffffff!important;
}

/*carousel*/
.carousel_2 .owl-buttons .owl-prev:hover:after, 
.carousel_2 .owl-buttons .owl-next:hover:after,
.carousel_3 .owl-buttons .owl-prev:hover:after, 
.carousel_3 .owl-buttons .owl-next:hover:after{
	color:#ffffff;
}
.carousel_2 .owl-page:hover, 
.carousel_2 .owl-page.active,
.carousel_2 .item .img_box:before,
.carousel_3 .owl-page:hover, 
.carousel_3 .owl-page.active,
.carousel_6 .item:hover:before,
.carousel_7 .owl-page.active,
.carousel_8 .owl-page:hover, 
.carousel_8 .owl-page.active{
	background-color:#ffffff;
}
.carousel_3 .owl-buttons .owl-prev:hover, 
.carousel_3 .owl-buttons .owl-next:hover{
	border-color:#ffffff;
}
/*isotope*/
.isotope_grid1 .isotope_group a:hover, 
.isotope_grid1 .isotope_group a.active{
	color:#ffffff;
	border-color:#ffffff;
}
.isotope_grid1 .isotope_item .photo:before,
.isotope_grid2 .photo:before,
.isotope_grid3 .photo:before,
.isotope_grid4 .ico span{
	background-color:#ffffff;
}
.isotope_grid2 .photo .fa{
	color:#ffffff;
}
.isotope_grid3 .isotope_group a:hover, 
.isotope_grid3 .isotope_group a.active{
	background-color:#ffffff;
	border-color:#ffffff;
}
/*loaded list*/
.loaded_list_3 .bar,
.loaded_list_4 .bar,
.loaded_list_6 .bar{
	background-color:#ffffff;
}
/*photo list*/
.photo_list_1 .photo_box .date{
	background-color:#ffffff;
}
/*Responsive Tab*/
.horizontalTab_Top_1 ul.resp-tabs-list li.resp-tab-active span{
	border-top-color:#ffffff;
}
.horizontalTab_Top_2 ul.resp-tabs-list li.resp-tab-active span,
.verticalTab_Left .resp-tab-active, 
.verticalTab_Left .resp-tab-active:hover,
.verticalTab_Left_1 ul.resp-tabs-list li.resp-tab-active, 
.verticalTab_Left_1 ul.resp-tabs-list li:hover,
.verticalTab_Right .resp-tab-active, 
.verticalTab_Right .resp-tab-active:hover,
.verticalTab_Right_1 ul.resp-tabs-list li.resp-tab-active, 
.verticalTab_Right_1 ul.resp-tabs-list li:hover, 
.verticalTab_Right_1 ul.resp-tabs-list li.resp-tab-active span,
.horizontalTab_Top .resp-tab-active, 
.horizontalTab_Top .resp-tab-active:hover{
	background-color:#ffffff;
}
.horizontalTab_Top_3 ul.resp-tabs-list li:hover span, 
.horizontalTab_Top_3 ul.resp-tabs-list li.resp-tab-active span{
	background-color:#ffffff;
	border-color:#ffffff;
}
/*number style*/
.number_style_2 .fa:before{
	background-color:#ffffff;
}
.number_style_2 .fa{
	border-color:#ffffff;
}
.number_style_1 .box .number{
	border-color:#ffffff;
}

/*link list*/
.link_list_1 .social a, 
.link_list_1 .social a:link, 
.link_list_1 .social a:active,
.link_list_1 .social a:visited{
	color:#ffffff;
}
/*.product list*/
.product_list_01 .sales{
	background-color:#ffffff;
}
.product_list_01 .price,
.product_list_02 .current{
	color:#ffffff;
}
/*blockquote*/
.blockquote_1 small,
.blockquote_3 p:before,
.blockquote_2:before,
.blockquote_6 .ico{
color:#ffffff;
}
.blockquote_3 p{
	border-top-color:#ffffff;
}
.blockquote_4 .pic,
.blockquote_4 p,
.blockquote_6 .ico:before, 
.blockquote_6 .ico:after{
	border-color:#ffffff;
}
/*dividers*/
.dividers_2 {
	background-image:-webkit-linear-gradient(right top, #4680dd 0% , #b75ccd 100%); 
	background-image:linear-gradient(to right top, #4680dd 0% , #b75ccd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4680dd', endColorstr='#b75ccd',GradientType=1 ); 
}

/*boxes style*/
.boxes_style_1 {
    border-top-color:#ffffff;
}
.boxes_style_2{
	background-color:#ffffff;
}
.boxes_style_3{
	background-image:-webkit-linear-gradient(right top, #4680dd 0% , #b75ccd 100%); 
	background-image:linear-gradient(to right top, #4680dd 0% , #b75ccd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4680dd', endColorstr='#b75ccd',GradientType=1 ); 
}
.boxes_style_4{
    border-left-color:#ffffff;
}
.boxes_style_8{
    border-color:#ffffff;
}
.boxes_style_8 .Boxes_title{
	color:#ffffff;
}

/*price*/
.price-table2 .color_1 .price_title,
.price-table2 .color_1 .price_holder{
	border:2px solid #20a3f0;
}
.price-table2 .color_1 .price_box,
.price-table2 .color_1 .btn,
.price-table3 .color_1 .price_title,
.price-table3 .color_1 .btn,
.price-table4 .color_1 .price_title,
.price-table4 .color_1 .btn,
.price-table4 .color_1 .price_holder .price_box{
	background-color:#20a3f0;
}
.price-table2 .color_2 .price_title,
.price-table2 .color_2 .price_holder{
	border:2px solid #7770cc;
}
.price-table2 .color_2 .price_box,
.price-table2 .color_2 .btn,
.price-table3 .color_2 .price_title,
.price-table3 .color_2 .btn,
.price-table4 .color_2 .price_title,
.price-table4 .color_2 .btn,
.price-table4 .color_2 .price_holder .price_box{
	background-color:#7770cc;
}
.price-table2 .color_3 .price_title,
.price-table2 .color_3 .price_holder{
	border:2px solid #b75ccd;
}
.price-table2 .color_3 .price_box,
.price-table2 .color_3 .btn,
.price-table3 .color_3 .price_title,
.price-table3 .color_3 .btn,
.price-table4 .color_3 .price_title,
.price-table4 .color_3 .btn,
.price-table4 .color_3 .price_holder .price_box{
	background-color:#b75ccd;
}
.price-table2 .color_4 .price_title,
.price-table2 .color_4 .price_holder{
	border:2px solid #4680dd;
}
.price-table2 .color_4 .price_box,
.price-table2 .color_4 .btn,
.price-table3 .color_4 .price_title,
.price-table3 .color_4 .btn,
.price-table4 .color_4 .price_title,
.price-table4 .color_4 .btn,
.price-table4 .color_4 .price_holder .price_box{
	background-color:#4680dd;
}
.price-table3 .color_1 .price_holder .btn:before{
	border-left-color:#20a3f0;
}
.price-table3 .color_2 .price_holder .btn:before{
	border-left-color:#7770cc;
}
.price-table3 .color_3 .price_holder .btn:before{
	border-left-color:#b75ccd;
}
.price-table3 .color_4 .price_holder .btn:before{
	border-left-color:#4680dd;
}
.price-table5 .price_title,
.price-table5 .price_holder .btn{
	background-color:#ffffff;
}
.price-table5 .price_holder ul li .fa{
	color:#ffffff;	
}

/*quotes*/
.quotes_1:before {
    border-color:#ffffff;
    color: #ffffff;
}
.quotes_2{
    border-top-color:#ffffff;
}
.quotes_3,
.quotes_4:before,
.quotes_6:before{
	background-color:#ffffff;
}
.quotes_4 small span,
.quotes_2 small span,
.quotes_5:before{
    color: #ffffff;
}
.quotes_5{
	background-image:-webkit-linear-gradient(right top, #4680dd 0% , #b75ccd 100%); 
	background-image:linear-gradient(to right top, #4680dd 0% , #b75ccd 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4680dd', endColorstr='#b75ccd',GradientType=1 ); 
}
/*dropcaps*/
.dropcaps_1,
.dropcaps_3{
	background-color:#ffffff;
}
.dropcaps_2,
.dropcaps_4{
    border-color:#ffffff;
    color: #ffffff;
}
.dropcaps_8{
    color: #ffffff;
}
.dropcaps_7 {
	color: #b75ccd;
	margin:5px 25px 15px 0;
	background-image: -webkit-linear-gradient(bottom,  #b75ccd 0% , #4680dd 100%);
}
/*time line*/
.timeline .time_year,
.timeline .timeline_End,
.timeline2 .timeline_End{
	background-color:#ffffff;
}
.timeline .backgroundImage2 .time_box:before{
    border-color:#20a3f0;
}
.timeline2 .timeline_start,
.timeline2 .time_box:before{
    border-color:#ffffff;
}
.timeline2 .time_box,
.rtl .timeline2 .time_box:after{
    border-left-color:#ffffff;
}
.timeline2 .time_box:after,
.rtl .timeline2 .time_box{
    border-right-color:#ffffff;
}
/*faq*/
.faq_box dt:before, 
.faq_box dd:before{
	background-color:#ffffff;
}
/*contact info*/
.contact_info .fa{
	color:#ffffff;
	border-color:#ffffff;
}
/*anchorNav*/
#anchorNav li:hover i, 
#anchorNav li.active i,
#anchorNav li span{
	background-color:#ffffff;
}
/*percentage*/
.chart_list_4 .percentage4{
	color:#ffffff;
}
/*Other*/
.fontawesome-icon-list .fa-hover:hover,
.faq_list dt:before{
	background-color:#ffffff;
}
.box_404 .font_404{
	color:#ffffff;
	background-image: -webkit-linear-gradient(left top, #b75ccd 0% , #4680dd 50%);
}
/*header style*/    
	/********header 5***********/
	.header_bg {
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 10;
		border-bottom:1px solid #aeafb0;
	}
	.dnn_logo {
		border-right:1px solid;
		border-color:#aeafb0;	
        padding-left: 10px;
		line-height: 90px;
		height: 90px;
	}
	.dnn_menu {
		border-right:1px solid ;
		border-color:#aeafb0;
		margin-right: 100px;
	}
	#header5{
		position:relative;
	}
	.nav_box {
		float:right;
	}
	#header5 > .shade {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background-color:#ffffff;
		filter:alpha(opacity= 0 );
		opacity: 0;
	}
	/*right style*/
	.nav_ico {
		position: absolute;
		top:0;
		right: 0;
		height: 90px;
		line-height: 90px;
		font-size:16px;
		cursor:pointer;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		text-align:right;
	}
	.nav_ico .fa{
		width:30px;
		height:40px;
		line-height:40px;
		text-align:right;
		display:inline-block;
		vertical-align:middle;
		font-size:20px;
		color:#FFFFFF;
		margin-left:10px;
		transition: 		all ease-in 200ms;
		-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	}
	.nav_ico .fa:hover,
	.nav_ico .fa.active{
		color: #e11b22;
	}
	.nav_ico .fa.active:before{
		content:"\f00d";
		color: #e11b22;
	}
	.nav_ico .searchBox,
	.nav_ico .Loginandlanguage {
		-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.1);               /* For Firefox3.6+ */
		-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.1);            /* For Chrome5+, Safari5+ */
		box-shadow:1px 1px 5px rgba(0,0,0,0.1);                    /* For Latest Opera */
		background-color:#FFFFFF;
		padding:10px;
		min-width:300px;
		height:62px;
		position:absolute;
		top:100%;
		right:0px;
		display:none;
	}
	.nav_ico .searchBox #dnn_dnnSEARCH_ClassicSearch, 
	.nav_ico .searchBox #dnn_dnnSEARCH5_ClassicSearch, 
	.nav_ico .searchBox #dnn_dnnSEARCH2_ClassicSearch, 
	.nav_ico .searchBox #dnn_dnnSEARCH3_ClassicSearch{
		line-height:40px;
	}
	.nav_ico .searchBox input.NormalTextBox{
		background-color:rgba(0,0,0,0.1);
		height:40px;
		line-height:40px;
		width:240px;
		left:0px;
		top:2px;
		font-size:14px;
	}
	.nav_ico .search, 
	.nav_ico a.search:link, 
	.nav_ico a.search:active, 
	.nav_ico a.search:visited{
		left:auto;
		right:0;
		background-color:#e11b22;
		color:#FFF;
		top:2px;
		height:40px;
		line-height:40px;
		width:40px;	
	}
	.nav_ico .Loginandlanguage  {
		min-width:inherit;
		white-space:nowrap;
		padding:0px 30px;
		line-height:62px;
	}
	.nav_ico .Loginandlanguage > .languageBox,
	.nav_ico .Loginandlanguage > .Login{
		display:inline-block;
		vertical-align:top;
	}
	.nav_ico .Loginandlanguage > .Login a,
	.nav_ico .Loginandlanguage > .Login a:link,
	.nav_ico .Loginandlanguage > .Login a:active,
	.nav_ico .Loginandlanguage > .Login a:visited,
	.nav_ico .Loginandlanguage > .Login .sep{
		color:#666666;
		font-size:13px;
		vertical-align:middle;
	}
	.nav_ico .Loginandlanguage > .Login a:hover{
		color:#e11b22;
	}
	.nav_ico .Login .registerGroup li.userMessages a span, 
	.nav_ico .Login .registerGroup li.userNotifications a span{
		background-color:#e11b22;
	}
	/*top_menu*/
	#dnngo_megamenu ul,
	.multi_menu,
	.nav_box  {
		font-family: "Raleway";
	}
	#dnngo_megamenu > div > ul {
		display: inline-block;
		vertical-align: middle;
	}
	*+html #dnngo_megamenu > div > ul {
		display: inline;
	}
	#dnngo_megamenu > div > ul > li {
		background: none;
		padding:0px;
		transition: 		border-color ease-in 200ms;
		-moz-transition: 	border-color ease-in 200ms; /* Firefox 4 */
		-webkit-transition: border-color ease-in 200ms; /* Safari and Chrome */
		-o-transition: 		border-color ease-in 200ms; /* Opera */
		-ms-transition: 	border-color ease-in 200ms; /* IE9? */
	}
	#dnngo_megamenu > div > ul > li > a {
		line-height: 90px;
	}
	#dnngo_megamenu > div > ul > li > a:hover > span,
	#dnngo_megamenu > div > ul > li.current > a > span,
	#dnngo_megamenu > div > ul > li.menu_hover > a > span{
		/*color:#e11b22;*/
	}
	#dnngo_megamenu > div > ul > li.dir > a:hover > span:after,
	#dnngo_megamenu > div > ul > li.dir.current > a > span:after,
	#dnngo_megamenu > div > ul > li.dir.menu_hover > a > span:after{
		/*border-color:#e11b22;*/
	}
	
		#dnngo_megamenu > div > ul > li > a > span {
		color: #FFFFFF;
		padding: 0px 2px;
		font-size: 15px;
		text-transform:capitalize;
		font-weight:bold;
		transition: color ease-in 200ms;
		-moz-transition: color ease-in 200ms; /* Firefox 4 */
		-webkit-transition: color ease-in 200ms; /* Safari and Chrome */
		-o-transition: color ease-in 200ms; /* Opera */
		-ms-transition: color ease-in 200ms; /* IE9? */
	}
	#dnngo_megamenu > div > ul > li.dir > a > span {
		white-space: nowrap;
	}
	#dnngo_megamenu > div > ul > li.dir > a > span:after {
		content: "";
		height: 5px;
		width: 5px;
		overflow: hidden;
		margin: 0 0px 3px 6px;
		display: inline-block;
		vertical-align: middle;
		border-bottom: 1px solid #FFFFFF;
		border-right: 1px solid #FFFFFF;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg); /* IE 9 */
		-moz-transform: rotate(45deg); /* Firefox */
		-webkit-transform: rotate(45deg); /* Safari and Chrome */
		-o-transform: rotate(45deg); /* Opera */
		transition: all ease-in 200ms;
		-moz-transition: all ease-in 200ms; /* Firefox 4 */
		-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
		-o-transition: border ease-in 200ms; /* Opera */
		-ms-transition: border ease-in 200ms; /* IE9? */
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	}
	#dnngo_megamenu .primary_structure{
		position:relative;
	}
	#dnngo_megamenu .primary_structure .back{
		position:absolute;
		bottom:-2px;
		height:0;
		padding:0;
		border-bottom:3px solid #e11b22;
		z-index:-1;
	}
	#dnngo_megamenu .dnngo_slide_menu,
	#dnngo_megamenu .dnngo_slide_menu .dnngo_submenu,
	#dnngo_megamenu .dnngo_boxslide {
		background-color: #FFFFFF;
	}
	#dnngo_megamenu .dnngo_menuslide .dnngo_slide_menu a,
	#dnngo_megamenu .dnngo_menuslide .dnngo_boxslide a,
	#dnngo_megamenu .dnngo_menuslide,
	#dnngo_megamenu .dnngo_slide_menu li {
		font-size:13px;
		color:#666666;
		transition: 		all ease-in 200ms;
		-moz-transition: 	all ease-in 200ms; /* Firefox 4 */
		-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
		-o-transition: 		all ease-in 200ms; /* Opera */
		-ms-transition: 	all ease-in 200ms; /* IE9? */
	}
	
	#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a span:before {
		border-right:1px solid #666666;
		border-bottom:1px solid #666666;
		transition: 		all ease-in 200ms;
		-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	}
	#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover span:before {
		border-right:1px solid #e11b22;
		border-bottom:1px solid #e11b22;
	}
	
	#dnngo_megamenu .dnngo_slide_menu li:hover > a {
		color:#FFF;
		background-color:#e11b22;
	}
	#dnngo_megamenu .dnngo_slide_menu li.dir:before{
		border-right:1px solid #666666;
		border-bottom:1px solid #666666;
		transition: 		all ease-in 200ms;
		-webkit-transition: all ease-in 200ms; /* Safari and Chrome */
	}
	#dnngo_megamenu .dnngo_slide_menu li.dir:hover:before{
		border-right:1px solid #FFF;
		border-bottom:1px solid #FFF;
	}
	#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover{
		color: #e11b22;
	}
	#dnngo_megamenu h2.mega_title,
	#dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu > ul > li > a > span,
	.social-icons5 a:hover span{
		font-size:14px!important;
		color:#e11b22!important;
	}
	#dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu > ul > li > a > span {
		font-size:14px;
	}
	#dnngo_megamenu > div > ul > li > a > span > i {
		color:#383838;
		font-size:16px;
	}
	#dnngo_megamenu > div > ul > li > a:hover > span > i,
	#dnngo_megamenu > div > ul > li.menu_hover > a > span > i,
	#dnngo_megamenu > div > ul > li.current > a > span > i{
		color:#e11b22;
	}
	#dnngo_megamenu .dnngo_slide_menu li a > span > i,
	#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a > span > i{
		color:#9c9c9c;
		font-size:13px;
	}
	#dnngo_megamenu .dnngo_slide_menu li a:hover > span > i,
	#dnngo_megamenu .dnngo_boxslide .menu_centerbox ul li li a:hover > span > i{
		color:#e11b22;
	}
	#dnngo_megamenu .mega_title, 
	#dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu > ul > li > a > span{
		border-color:#C2C2C2;
	}
	#dnngo_megamenu .dnngo_boxslide .dnngo_masonrymenu > ul:before{
		border-color:#e0e0e0;
	}
	/*roll_menu*/
    .roll_menu {
        background: rgba(0, 0, 0, 0.18);
        background: -webkit-linear-gradient(#0000003b, #00000000);
        background: -o-linear-gradient(#0000003b, #00000000);
        background: -moz-linear-gradient(#0000003b, #00000000);
        background: linear-gradient(#0000003b, #00000000);
    }
	.roll_menu.roll_activated {
		border:none;
		/*background-color:#ffffff;*/
		box-shadow: 0 0 10px rgba(0,0,0,0.4);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
        /*background: linear-gradient(#ffffff, #ffffff);*/
	}
    .roll_menu.roll_activated .nav_ico{
        display:none;       
     }
	.roll_menu.roll_activated .top_tab_ico {
		display: none;
	}
	.roll_menu.roll_activated #dnngo_megamenu > div > ul > li{
		/*padding:6px 0;*/
	} 
	.roll_menu.roll_activated #dnngo_megamenu > div > ul > li > a > span,
	.roll_menu.roll_activated #dnngo_megamenu > div > ul > li > a {
		/*height: 35px;
		line-height: 35px;*/
	}
	.roll_menu.roll_activated .dnn_logo {
		/*margin-top: 3px;
		height: 41px;
		line-height: 41px;*/
		border:none;
	}	
	.roll_menu.roll_activated .LogoPane, 
	.roll_menu.roll_activated .dnn_logo .Logobox{
		/*height: 41px;
		line-height: 41px;*/
	}
	.roll_menu.roll_activated .LogoPane{
		position:relative;
	}
	.roll_menu.roll_activated .LogoPane img {
		position:absolute;
		max-width: none;
		max-height: 100%;
		top:0px;
		left:0;
	}
	
	@media only screen and (min-width: 1200px) {
		#dnngo_megamenu > div > ul > li > a > span {
			padding: 0px 15px;
		}
	}
    @media only screen and (min-width: 1600px) {
				#dnngo_megamenu > div > ul > li > a > span {
			padding: 0px 20px;
		}
    }
	@media only screen and (min-width: 768px) and (max-width: 991px) {
				#dnngo_megamenu > div > ul > li > a > span {
			padding: 0;
			padding: 0px -1px;
		}
		
		.dnn_logo {
			float: none;
			border:none;
			text-align: center;
		}

		.nav_box {
			float: none;
			text-align: left;
		}
		.header_bg:before {
			content:"";
			right:0;
			bottom:50px;
			width:100%;
			position:absolute;
			border-bottom:1px solid #aeafb0;
		}
		.nav_ico{
			height:50px;
			line-height:50px;		
		}
		#dnngo_megamenu > div > ul > li > a {
			line-height: 50px;
		}
		.roll_menu.roll_activated .dnn_logo {
			float: left;
			margin-top: 0px;
			/*height: 23px;*/
		}

        #dnngo_megamenu > div > ul > li{
          padding-top:0;
        }
     }
	@media only screen and (max-width: 767px) {
			.header_bg {
				border:none;
			}
	}


@media only screen and (max-width: 767px) {
	
			.header_bg {
			position:absolute!important;
			width:100%;
			top:0;
			padding:0;			
		}
		.Banner1{
			padding-top:170px;
		}
		.mobile_menu > .shade {
		background-color:#000000;
		filter:alpha(opacity= 0 );
		opacity: 0;
	}
	.mobile_menu_ico .fa{
		border-color:#FFFFFF;
		color:#FFFFFF;
	}
	.mobile_menu_ico .fa.active{
		color:#e11b22;
		background-color:#FFFFFF;
	}
	#mobile_user,
	#mobile_search{
		background-color:#FFFFFF;
	}
	#mobile_user, 
	#mobile_user a, 
	#mobile_user a:link, 
	#mobile_user a:active, 
	#mobile_user a:visited{
		color:#333333;
	}
	#mobile_user a:hover{
		color:#e11b22;
	} 
	#mobile_search .search, 
	#mobile_search a.search:link, 
	#mobile_search a.search:active, 
	#mobile_search a.search:visited{
		background-color:#e11b22;
	}
	#mobile_search input.NormalTextBox{
		color:#333333;
		background-color:#e1e1e1;
	}
	.mobile_menu #mobile_menu{
		background-color:#e11b22;
	}
	.multi_menu ul li a{
		color:#FFF;
		border-color:#FFF;
	}
	.multi_menu ul li.active > a,
	.multi_menu ul li a:hover ,
	.multi_menu ul li.current > a,
	.multi_menu ul li.current > a:hover {
		 background-color:#FFF;
		 color:#e11b22;
	}
	.multi_menu ul li .menu_arrow:before{
		border-bottom-color:#FFF;
	  	border-right-color:#FFF;
	}
	.multi_menu ul li .menu_arrow.arrow_closed:before, 
	.multi_menu ul li.current > a >  .menu_arrow:before, 
	.multi_menu ul li:hover .menu_arrow.arrow_closed:before,
	.multi_menu ul li:hover > a > .menu_arrow:before{
		border-bottom-color:#e11b22;
	  	border-right-color:#e11b22;
	}
	.multi_menu > ul > li > a > span {
		font-size:15px;
	}
	.multi_menu ul ul li > a > span {
		font-size:13px;
	}
	.multi_menu > ul > li > a > span > i{
		color:#c6c6c6;
		font-size:13px;
	}
	.multi_menu ul ul li > a > span > i{
		color:#c6c6c6;
		font-size:13px;
	}
	/*html*/
	
	.HeaderPane_mobile,
	.HeaderPaneB_mobile{
		color:#FFFFFF;
	}
	.social_list_6 span{
		color:#FFFFFF;
		border-color:#FFFFFF;
	}
	.social_list_6 a:hover span{
		border-color:#e11b22;
		background-color:#e11b22;
	}
	.social_list_7{
		border:none;
	}
	.social_list_7 span{
		margin:0 4px;
		color:#FFFFFF;
		border:1px solid #FFFFFF;
	}
	.social_list_7 a:hover span{
		background-color:#e11b22;;
		border-color:#e11b22;
	}
	.shop_info{
		display:inline-block;
		border:none;
		color:#FFFFFF;
	}
	.shop_info span{
		color:#FFFFFF;
	}
}

@media only screen and (max-width:767px){
	.roll-xs.roll_menu.roll_activated{
		position:relative!important;
		top:0!important;
		left:0!important;
		opacity:1!important;
	}	
	.roll_menu.roll_activated .roll-xs {
		display:none!important;
	}	
}
@media only screen and (min-width:768px) and (max-width:991px){
	.roll-sm.roll_menu.roll_activated{
		position:relative!important;
		top:0!important;
		left:0!important;
		opacity:1!important;
	}	
	.roll_menu.roll_activated .roll-sm {
		display:none!important;
	}	
}

@media only screen and (min-width:992px) and (max-width:1199px){
	.roll-md.roll_menu.roll_activated{
		position:relative!important;
		top:0!important;
		left:0!important;
		opacity:1!important;
	}	
	.roll_menu.roll_activated .roll-md {
		display:none!important;
	}	
}
@media only screen and (min-width:1200px){
	.roll-lg.roll_menu.roll_activated{
		position:relative!important;
		top:0!important;
		left:0!important;
		opacity:1!important;
	}	
	.roll_menu.roll_activated .roll-lg {
		display:none!important;
	}	
}

/*header position*/
			.header_bg{
			position:absolute;
		}
		.roll_replace {
			position:absolute;
		}
	
/*Footer */

	.footer_box {
		position:relative;
		z-index:3;
	}
	.foot_bgs{
		display:none;
	}
	.footer_box .footer_bg{
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 1;
									background-color:#6a6561;
						background-position:center bottom;
				background-repeat:no-repeat;
										background-size:cover ;
	}
	.footer_bottom  {
		overflow:hidden;
	}
	.footer_bottom .footer_bottom_bg{
		opacity: 1;
					background-color:#48a9e0;
				-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform:skew(0deg,-4deg);
		-moz-transform:skew(0deg,-4deg);
		transform:skew(0deg,-4deg);
		transform-origin:right bottom;
	}
	.copyright_style,
	.FooterPane{
		text-align:center;
		float:none;
	}
	.FooterPane{
		padding-top:0
	}

.footer_box .Normal {
	color:#8f8f8f;
}

.footer_box a, 
.footer_box a:link, 
.footer_box a:active, 
.footer_box a:visited{
	color:#ffffff;
}
.footer_box a:hover{
	text-decoration:underline;
	color:#ffffff;
}
.footer_box .list_style_3 a, 
.footer_box .list_style_3 a:link, 
.footer_box .list_style_3 a:active, 
.footer_box .list_style_3 a:visited,
.footer_box .list_style_6 li a, 
.footer_box .list_style_6 li a:link, 
.footer_box .list_style_6 li a:active, 
.footer_box .list_style_6 li a:visited,
.footer_box .list_style_11 li .fa,
.footer_box .list_style_11 li, 
.footer_box .list_style_11 li a, 
.footer_box .list_style_11 li a:link, 
.footer_box .list_style_11 li a:active, 
.footer_box .list_style_11 li a:visited{
	color:#8f8f8f;
}
.footer_box .list_style_3 a:hover,
.footer_box .list_style_6 a:hover,
.footer_box .list_style_11 li a:hover,
.list_style_13 li .fa,
.social_list_2 a:hover span{
	color:#ffffff;
}
.footer_box .tag_list_1 a, 
.footer_box .tag_list_1 a:link, 
.footer_box .tag_list_1 a:active, 
.footer_box .tag_list_1 a:visited{
	border-color: #8f8f8f;
	color: #8f8f8f;
}
.footer_box .title-2:before,
.footer_box .title-7:before,
.footer_box .Container-11 .dnntitle h4:after,
.footer_box .title-11:after{
	border-color: #ffffff!important;
}
.footer_box .tag_list_1 a:hover,
.footer_box .social_list_5 a:hover span{
	color:#FFF;
	background-color:#ffffff;
	border-color: #ffffff;
}
.footer_box .social_list_3 a:hover,
.footer_box .tag_list_2 a:hover{
	background-color:#ffffff;
}
.footer_box .tag_list_2 a,
.footer_box .tag_list_2 a:hover{
	color:#FFF!important;
	text-decoration:none;
}
.footer_box .Theme_Responsive_20072_home7-Email .form_submit .btn{
	background-color: #ffffff!important;
}
.footer_box .Theme_Responsive_20072_home7-Email .form_submit .btn:hover{
	background-color: #555!important;
}

.footer_box .dnntitle span{
	color: #ffffff;
}


.FooterPane .Normal,
.copyright_style,
.copyright_style a,
.copyright_style a:link,
.copyright_style a:active,
.copyright_style a:visited,
.FooterPane a,
.FooterPane a:link,
.FooterPane a:active,
.FooterPane a:visited{
	color: #FFFFFF;
}
.FooterPane .foot_social_3 a:hover span{
	color: #ffffff;
}
.footer_bottom .Normal,
.footer_bottom a,
.footer_bottom a:link,
.footer_bottom a:active,
.footer_bottom a:visited,
.footer_bottom .social_list_1 a span,
.footer_bottom .link_list_1 a, 
.footer_bottom .link_list_1 a:link, 
.footer_bottom .link_list_1 a:active,
.footer_bottom .link_list_1 a:visited{
	color: #FFFFFF;
}
.footer_bottom .link_list_1 .social a, 
.footer_bottom .link_list_1 .social a:link, 
.footer_bottom .link_list_1 .social a:active,
.footer_bottom .link_list_1 .social a:visited,
.footer_bottom .FooterPane a:hover,
.footer_bottom .copyright_style a:hover,
.footer_bottom .link_list_1 a:hover,
.footer_bottom .link_list_1  .social a:hover,
.footer_bottom .list_style_13 li .fa{
	text-decoration:none;
	color: #ffffff;
}
.footer_bottom .social_list_5 a:hover span{
	background-color:#ffffff;
	border-color: #ffffff;
}

.footer_bottom .link_list_1  .social a:hover{
	text-decoration:underline;
}
.footer_bottom .social_list_1 a{
	border-color: #FFFFFF;
}
.footer_bottom .social_list_1 a:hover{
	background-color:#FFFFFF;
}
.footer_bottom .social_list_1 a:hover span{
	color: #ffffff;
}
.footer_box .footer_bottom  {
	padding:0 0 20px;
}
.footer_box .footer_bottom .footer_line{
	padding:20px 0 0;
			border-top:1px solid #FFFFFF;
	}

.footer_bottom .dnntitle span{
	color: #FFFFFF;
}
.footer_bottom .title_style_2{
	color: #FFFFFF;
}
.footer_bottom .title_style_2 .icon:before, 
.footer_bottom .title_style_2 .icon:after{
	border-color: #FFFFFF;
}

.footer_bottom .Theme_Responsive_20072_home5-Email .form_submit:before{
	color: #ffffff!important;
}
.footer_bottom .Theme_Responsive_20072_home7-Email .form_submit .btn{
	background-color:  #ffffff!important;
}
.footer_bottom .Theme_Responsive_20072_home7-Email .form_submit .btn:hover{
	background-color: #555!important;
}

.copyright_style, 
.copyright_style a,
.FooterPane {
	font-size:14px;
}
#to_top:hover{
	border-color:#ffffff;
	background-color: #ffffff;
}
/*carousel home*/
#carousel,
#carousel > div {
    display: block;
    width: 100%;
    height: 86vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #ffffff;
    overflow: hidden;
}

#carousel > div {
    position: absolute;
}

#carousel > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    cursor: pointer;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#carousel > #left {
    left: -100px;
}

#carousel > #right {
    right: -100px;
}

#carousel:hover > #left {
    left: 0;
}

#carousel:hover > #right {
    right: 0;
}

#carousel > i:active {
    color: #ac4d4d;
    text-shadow: 0 5px 2px #000000;
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
    cursor: pointer;
}

#carousel > ul {
    position: absolute;
    bottom: 10px;
    /*change left property to adjust the position of the buttons*/
    left: 46%;
    z-index: 4;
    padding: 0;
    margin: 0;
}

#carousel > ul > li {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    list-style: none;
    float: left;
    background-color: white;
    margin-right: 20px;
    cursor: pointer;
    border: 5px solid #223422;
    box-shadow: 0 0 5px 1px white;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#carousel > ul > li.showli {
    background-color: #e11b22;
    border: 5px solid white;
    box-shadow: 0 0 5px 1px #e11b22;
    -moz-animation: boing 0.5s forwards;
    -o-animation: boing 0.5s forwards;
    -webkit-animation: boing 0.5s forwards;
    animation: boing 0.5s forwards;
}

#carousel > ul > li:hover {
    background-color: #696969;
    border: 5px solid white;
    box-shadow: 0 0 5px 1px #696969;
}

#carousel > div.show {
    z-index: 1;
}

@keyframes boing {
    0% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(0.6);
    }

    60% {
        transform: scale(1.2);
    }

    80% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/*boostrap 50%*/
.col-md-50 {
    width: 50%;
    float: left;
    padding: 0 15px;
}

.content_mid.clearfix.wrap-container {
    padding: 0 15px;
}

.DnnModule-J_PopularProducts {
    margin-bottom: auto !important;
}

    .DnnModule-J_PopularProducts .Container-3 .dnntitle {
        margin-bottom: 0;
    }

    .DnnModule-J_PopularProducts .title-3 {
        font-size: 28px;
    }