.Width100
{
  width:100% !important;
}
.NoMaxWidth{
  max-width:none !important;
}
.MarginTop5px{
  margin-top: 5px !important;
}
.MarginTop10px{
  margin-top: 10px !important;
}
.ContentPaddingTop{
  padding-top: 40px !important;
}
.HeaderPadding{
  padding: 10px 0 !important;
}
.MainMenuPadding{
  padding-top: 20px !important;
}

.FooterIconWith{
  width:16px !important;
}
.NoMargin{
  margin:0px !important;
}
.NoMarginLeft{
  margin-left:0px !important;
}
.NoPaddingLeft{
  padding-left:0px !important;
}
.MarginTopBottom5px{
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.MarginBottom10Px{
  margin-bottom: 10px !important;
}
.MarginTop50Px{
  margin-top: 50px !important;
}
.marginLeft15px{
  margin-left: 15px !important;
}
.PaddingRight1px{
  padding-right: 1px !important;
}
.FooterFontSize{
  font-size: 12px !important;
}
.FooterItemLineHeight{
  line-height: 36px !important;
}

 .footer_box h3 {     
  font-size: 18px; 
} 
.banner-1 {     
  width: 100%;     
  margin: 0 auto;     
  color: #fff;     
  text-align: center;     
  margin-top: 150px;     
  font-weight: bold; 
} 
.banner-1 .banner-1-title {     
  font-size: 46px;     
  margin-bottom: 30px;
} 
.banner-1 .banner-1-dec {     
  font-size: 32px;     
  line-height: 1.2; 
} 
.banner-1 .banner-btn {     
  text-align: center;     
  margin-top: 20px; 
} 
.banner-1 .banner-btn a.btn-cus-banner {     
  border: 0;     
  background-color: #e11b22;     
  border-radius: 0;     
  text-transform: uppercase;     
  padding: 10px 20px;     
  font-weight: bold; 
} 
.banner-1 .banner-btn a:hover 
{     
  color: #fff; 
} 

.product-card {
  width: 100%;
  margin:0 auto;
  cursor: pointer;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  transition: ease .25s; 
  -webkit-transition: ease .25s;
}
.product-card:hover {
  transform: scale(1.04); 
  -wekbit-transform: scale(1.04); 
  -moz-transform: scale(1.04); 
}
.product-card a:hover{
  text-decoration: none;
}
.product-card-inner {
  position: relative;
  width: inherit;
  height:360px;
  text-align: center;
}
.productItemWrapper{
  position:relative;
  width: 100%;  /* 260px */
  height:300px;
  overflow:hidden;
  color:#FFF;
}
.productItem-card-image
{
  display:block;
  width:100%;
  height:100%;
  transform:none !important;
}
.productItem-card-price
{
  padding: 10px;
  background: #e11b22;
  position:absolute;
  bottom: 10px;
  right:10px;
}
.productItem-card-block{
  width:100%;
  height:60px;
  background: #e11b22;
  z-index:100;
  text-transform: uppercase;
  padding-left: 10px;
}
.productItem-Name{
  padding:10px;
  font-size: 24px;
  font-weight: bold;
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
}  
.productItem-offerRibbon{
  width:45px;
  height: 45px;
  border-radius: 50%;
  background: #e11b22;
  color: #FFF;
  text-align: center;
  position: absolute;
  padding-top: 10px;
  line-height: 15px;
  top:-15px;
  right: -15px;
}
.productItem-header{
  font-size: 30px !important;
  font-weight: bold;
  font-family: 'Raleway';
  margin-bottom: 20px !important;
}
.contactUsSectionMarginTop{
  margin-top: 30px !important;
}
.contactUsBg{
  background-color: #333333 !important;
  padding:40px;
  box-shadow: 0 0 6px #000;
  padding-top: 25px;
  padding-bottom: 25px;
}
.wightFont{
  color:#FFF !important;
}
.contactUsHeading{
  font-family: 'Raleway';
  font-weight: 700;
  font-style: normal;
  font-size: 42px;
  letter-spacing: .02em;
  line-height: 1em;
  text-align: center;
  margin-bottom: 30px;
  color: #231f20;
}
.contactDetailsHeading{
    font-family: ATSFontReg, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #FFF;
}
.aboutUsSubHeading{
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  letter-spacing: .02em;
  line-height: 1em;
  text-transform: capitalize;
  color: #6a6563;
}
.aboutUsSectionMarginTop{
  margin-top: 30px !important;
}
.aboutUsSubSectionMarginTop
{
  margin-top: 15px !important;
}
.aboutUsLeadersWrapper{
  width: 100%;
  background-color: #333;
  box-shadow: 0px 0px 4px #000;
  padding:30px

}
.aboutUsLeadersWrapper td{
  padding:5px;
  color:#fff !important;
}
.aboutUsLeadersDetails{
  background-color: #333;
  box-shadow: 0px 0px 4px #000;
  padding:21px
}
.userLogin{
  margin-top: 70px !important;
}
.userLoginContainerBg{
  box-shadow: 0px 0px 8px #666;
  padding-top: 30px;
  padding-bottom: 30px;
  width:46% !important;
  margin: 2% !important;
}
.userLoginSubHeader{
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  letter-spacing: .02em;
  line-height: 1em;
  text-transform: capitalize;
  color: #231f20;
}
.userLoginInput{
  width:200px;
  margin-bottom: 18px;
  padding: 4px;
  background: #ffffff;
  border: 1px solid #c9c9c9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 80%), inset 0px 1px 2px 0px rgb(0 0 0 / 10%);
  box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 80%), inset 0px 1px 2px 0px rgb(0 0 0 / 10%);
  color: #333;
  font-size: 14px;
}
.userLoginLabel{
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: .01em;
  line-height: 1.2em;
  text-transform: capitalize;
  color: #231f20;
  text-align: right;
  padding: 8px;
}
.userLoginLink{
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #231f20 !important;
}
.userLoginButon{
  padding:4px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #e11b22;
  color: #FFF;
  border:1px solid #cc2d37;
}
.userLoginButon:hover{
  background-color: #cc2d37;
}
.ourWareHouseCaption{
  width:400px;
  background-color: #e11b22;
  color: #FFF;
  padding:15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  margin:0 auto;
  margin-top: 20px;
  text-align: center;
}
.ourWareHouseLocationName
{
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: .01em;
  line-height: 1.2em;
  text-transform: capitalize;
  color: #231f20;
}
.ourWareHouseMarginTop
{
  margin-top: 30px !important;
}
.ourWareHouseItemWrapper{
  margin: 0 auto;
}
.productItem-onlineshop-price
{
  padding: 10px;
  background: #e11b22;
  position:absolute;
  bottom: 10px;
  right:10px;
}
.productItem-onlineshop-block{
  width:100%;
  height:60px;
  z-index:100;
  text-transform: capitalize;
  padding-left: 10px;
  font-size: 14px !important;
}
.productItem-onlineshop-Name{
  padding:10px;
  font-size: 24px;
  font-weight: bold;
  font-family: ATSFontReg, Arial, Helvetica, sans-serif;
  text-align: center;
  color: #6a6563;
}  
.product-onlineshop-card {
  width: 98%;
  margin:0 auto;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: ease .25s; 
  -webkit-transition: ease .25s;
  padding: 1%;
  border: 1px solid #6a6563;
}
.product-onlineshop-card:hover {
  transform: scale(1.04); 
  -wekbit-transform: scale(1.04); 
  -moz-transform: scale(1.04); 
}
.product-onlineshop-card a:hover{
  text-decoration: none;
}
.product-onlineshop-MarginTop
{
  margin-top: 50px !important;
}
.productItem-onlineshop-marginTop{
  margin-top: 20px !important;
}
@media only screen and (min-width: 426px) and (max-width: 768px) 
{     
  .banner-1 .banner-1-title     
  {         
	font-size: 36px;     
  }     
  .banner-1 .banner-1-dec     
  {         
	font-size: 26px;     
  } 
  .footerBottomPadding{
    padding-bottom: 20px;
  }
  .ContentPaddingTop {
    padding-top: 140px !important;
  }
  .product-card{
    margin-bottom: 20px;
  }
  .userLoginLabel{
    text-align: left;
    padding-left: 15px;
  }
  .mobileMarginTop{
    margin-top: 30px !important;
  }
  .userLoginContainerBg{
    width: 96% !important;
  }
} 
@media only screen and (max-width: 426px) 
{     
  .banner-1     
  {         
	margin-top: 50px;     
  }     
  .banner-1 .banner-1-title     
  {         
	font-size: 18px;     
  }     
  .banner-1 .banner-1-dec     
  {         
	font-size: 13px;     
  } 
  .footerBottomPadding{
    padding-bottom: 20px;
  }
} 

.promotions {
  width: 100%;
  float: left;
  padding-bottom: 100px;
}
.promotions h1 {
  margin-bottom: 35px;
}
.promotions img {
  width: 100%;
}
.promotions .promotions-item {
  margin-bottom: 10px;
}

.home-t-b {
  float: left;
  width: 100%;
  margin: 35px 0;
}
  .home-talk-item {
  width: 100%;;
  padding: 0 15px;
  float: left;
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  }
  .home-talk-item img {
  width: 16px;
  margin-right: 10px;
  }
  h3.title-talk {
  line-height: 1.2;
  margin: 0;
  }
  .btn-talk {
  color: white;
  font-size: 14px;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  } 
  .home-talk-items
  {
    width: 100%;
    height: 20px;
  }
  .home-talk-item-icon{
    width: 30px;
    float: left;
  }
  .home-talk-item-icon-details{
    width: calc(100% - 30px);
    float: left;
  }
  /* iPad */
  @media only screen and (min-width: 426px) and (max-width: 768px) {
    .home-talk-item {
      width: 100%;
      margin: 10px 0;
    }
  } /* Mobile */
  @media only screen and (max-width: 426px) {
    .home-talk-item {
      width: 100%;
      margin: 10px 0;
      padding: 0 30px;
    }
  }
  
  .icons .icons-line {
    margin-bottom: 10px;
    }
    .icons img {
    width: 100%;
    }
    .icons .icons-item {
    margin-bottom: 10px;
    }